# Configuration générale
APP_ENV=production
DEBUG=False
TEST_MODE=0

# Configuration de la base de données
DB_MODE=postgres

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=F$Stagiaire42
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=squiidvault

# Configuration de sécurité
JWT_SECRET_KEY=modifier_cette_cle_avec_une_valeur_aleatoire_securisee
CSRF_SECRET=modifier_avec_une_cle_securisee

# Autres paramètres
PORT=8002
AUTH_BYPASS_ENABLED=false 